<header>
  <h1>JSisCool</h1>
  <nav>
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a routerLink="deno" routerLinkActive="active" ariaCurrentWhenActive="page">Deno</a>
    <a routerLink="clean-code" routerLinkActive="active" ariaCurrentWhenActive="page">Clean Code</a>
    <a routerLink="angular" routerLinkActive="active" ariaCurrentWhenActive="page">Angular</a>
  </nav>
</header>
<main>

  <quill-editor></quill-editor>

<pre>
    <code 
      [highlight]="code" 
      [languages]="['typescript']" 
      [lineNumbers]=true
      (highlighted)="onHighlight($event)"
    >
  </code>
</pre>

  <router-outlet></router-outlet>
</main>
<footer>
  Made with love and a lot of coffe ☕
</footer>
