<header>
  <h2>Git Tagging</h2>
</header>

<main>

  <p>
    If you'd like add a tag later then you should use the following command:
  </p>

  <pre>
    <code>
      $ git tag -a yourAwesomeTag 9fceb02
    </code>
  </pre>

  <p>
    And it is important to note, that when pushing, you have to use the --tags flag!
  </p>

  <pre>
    <code>
      $ git push --tags
    </code>
  </pre>

</main>

<footer>
  <section>
    <h4>References</h4>
    <a href="https://git-scm.com/book/en/v2/Git-Basics-Tagging">Git Basics Tagging</a>
  </section>
</footer>
