
<header>
    <h1>Article Creator</h1>
</header>

<main>

    <form [formGroup]="articleForm" (ngSubmit)="saveArticle()">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <button 
            type="button" 
            mat-fab 
            extended 
            color="link" 
            (click)="insertContentBlock($event, 0)"    
        >
            <mat-icon>add</mat-icon>
            Add section
        </button>

        <quill-editor
            #editor
            (onContentChanged)="onContentChanged($event)"
            (onEditorChanged)="onEditorChanged($event)"
        ></quill-editor>

        <button type="submit" mat-raised-button color="primary">Save</button>

    </form>
</main>

<footer>
    <h2>Preview</h2>

    <quill-view 
        [content]="content$ | async" 
        format="object" 
        theme="snow"
    >
    </quill-view>

</footer>
