
<h2 mat-dialog-title>Article Creator</h2>

<mat-dialog-content>

    <form id="editorForm" [formGroup]="articleForm" (ngSubmit)="saveArticle()">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <button
            type="button"
            mat-fab
            extended
            color="link"
            (click)="insertContentBlock($event, 0)"
        >
            <mat-icon>add</mat-icon>
            Add section
        </button>

        <jic-content-section-editor></jic-content-section-editor>

    </form>

    <!--
      <quill-view
          [content]="content$ | async"
          format="object"
          theme="snow"
      >
      </quill-view> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button form="editorForm" type="submit" mat-raised-button color="primary">Save</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Default Mat Btn?...</button>
</mat-dialog-actions>
